@import 'styles/variables/color-palette.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*{
  font-family: 'Poppins', sans-serif; 
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

div#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}