# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# IDEs
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Archivos temporales del sistema
.DS_Store

# Archivos de ayuda u opcionales
HELP.md

