.footer{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg-footer);
    padding: 10px;
    overflow: hidden;
}

p{
    color: var(--color-text);
    margin-left: 100px;
}

.linksFooter{
    display: flex;
    gap: 30px;
    list-style: none;   
    margin-right: 30px;
}

.linksFooter a{
    text-decoration: none;
    color: var(--color-hover);
}

.linksFooter a:hover{
    text-decoration: underline;
}

@media (max-width: 721px) {
    .footer-text {
      margin-left: 0.05rem;
    }
  }

  @media (max-width: 520px) {
    .footer {
      flex-direction: column;
      align-items: flex-start;
      padding: 0.1rem;
      gap: 0.1rem;
    }
  
    .footer-text {
      font-size: 0.9rem;
    }
  
    .linksFooter {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px; 
      margin: -5px 0 0 10px;    
    }
  
    .linksFooter a {
       font-size: 0.9rem;
    }   
  }


  

