.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
  
  .image-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }

@media (max-width: 750px) {
    .image-grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .movie-title {
        font-size: 0.8rem !important;
    }
    
}