.containerLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding: 3%;
    margin-top: 1.5em;
}

.nickname, .password{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    color: var(--color-text);
    font-size: 1em;
}

#nickname, #password{
    width: 100%;
    height: 3em;
    border-radius: 0.5em;
    border: 0.2em solid var(--color-border);
    padding: 0.5em;
    text-align: center;
    font-size: 1em;
}

#nickname, #password:focus {
    outline: none;
}

.botonLogin{
    width: 50%;
    border-color: var(--color-border);
    background-color: transparent;
    padding: 1em;
    margin-left: 6.7em;
    margin-top: 2em;
    border-radius: 0.5em;
    color: var(--color-text);
}