.containerLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 0.5rem; 
    width: 100%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 0.5rem; 
}

.nickname, .password {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--color-text);
    font-size: 1rem;
    margin-top: 1.2rem;
}

#nicknameLogin, #passwordLogin {
    width: 100%;
    max-width: 300px;
    height: 3rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-border);
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
    background-color: #1a1f2b;
    color: var(--color-text);
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

#nicknameLogin:focus, #passwordLogin:focus {
    outline: none;
    border-color: var(--color-hover);
    box-shadow: 0 0 10px rgba(245, 197, 24, 0.5);
}

.botonLogin {
    width: 150px;
    border-color: var(--color-border);
    background-color: transparent;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    color: var(--color-text);
}

.mensaje-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-bg-register);
    color: white;   
    padding: 12px 20px;
    border: 2px solid var(--color-border);
    border-radius: 10px;
    box-shadow: 0 0 12px var(--color-hover);
  }

@media(max-width: 815px) {
    .password, .nickname {
        width: 70%;
    }
    .botonLogin {
        width: 120px;
    }
}

@media(max-width: 500px) {
    .password, .nickname {
        width: 70%;
    }
    .botonLogin {
        width: 110px;
    }
}

@media(max-width: 450px) {
    .password, .nickname {
        width: 80%;
    }
    .botonLogin {
        width: 110px;
    }
}
