:root{
    --color-bg: #060d17;
    --color-hover: #f5c518;
    --color-border: #7D0000;
    --color-bg-footer:#111;
    --color-text: #f5f5f5;
    --color-bg-register: #2c2c2c;
    --color-placeholder: #aaa ;
    --color-boton: #B81D24;
}